191.233.144.0:8080 {
    reverse_proxy /solarxml* https://www.hamqsl.com {
        header_up Access-Control-Allow-Origin *
        header_up Host www.hamqsl.com
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}
